<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="stylesheets/style.css" rel="stylesheet">

</head>
<body>
			
	<div class="logo">muse.</div>
	<div class="input_muse">
		<form class="input_muse_form" method="post" action="/tile">
			<textarea id="text_input" name="input_muse" placeholder="what are you writing about?"></textarea>
			<input id="submit_button" type="submit" value=" > " />
		</form>
	</div>
	<a href="/pastsessions">			
		<div class="past_sessions">view past sessions</div>
	</a>
	<a href="/tutorial">			
		<div class="tutorial">tutorial</div>
	</a>
	<a href="/login">			
		<div class="log_out">log out</div>
	</a>

</body>
</html>