<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="stylesheets/style.css" rel="stylesheet">

</head>
<body>
			
	<div class="top_bar">
		<a href="javascript:javascript:history.go(-1)">
			<div class="menu top_bar_division"> < </div>
		</a>
		<div class="title top_bar_division">Past Sessions</div>
	</div>

</body>
</html>