<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="stylesheets/style.css" rel="stylesheet">

</head>
<body>
			
	<div class="top_bar">
		<a href="#">
			<div id="menu" class="top_bar_division">
				<img src="images/MenuLines.png" class="img">
			</div>
		</a>
		<div id="user_idea" class="top_bar_division">
			<h1>{{seedWord}}</h1>
		</div>
		<a href="#">
			<div id="continue" class="top_bar_division">
				<h1> > </h1>
			</div>
		</a>
	</div>

	<div class="tiles">

	</div>

</body>
</html>