<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="stylesheets/style.css" rel="stylesheet">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="javascripts/tile.js"></script>

</head>
<body>

	<div class="tiles">
	
	</div>
			
	<div class="top_bar">
		<a href="/">
			<div class="menu top_bar_division">&#9776;</div>
		</a>
		<div class="title top_bar_division">{{seedWord}}</div>
		<a href="/result">
			<div id="continue" class="top_bar_division"> > </div>
		</a>
	</div>

</body>
</html>