body {
	font-size: 20px;
	text-align: center;
}

.logo {
	font-size: 40px;
	background-color: #474747;
	height: 40%;
	line-height: 190px;
	margin: 2px;
	color: #FFF;
}

.input_muse {
	background-color: #005F74;
	height: 24%;
	line-height: 115px;
	margin: 2px;
	color: #FFF;
}

.past_sessions {
	background-color: #A0400D;
	height: 12%;
	line-height: 57px;
	margin: 2px;
	color: #FFF;
}

.tutorial {
	background-color: #A4610A;
	height: 12%;
	line-height: 57px;
	margin: 2px;
	color: #FFF;
}

.log_out {
	background-color: #7C0046;
	height: 12%;
	line-height: 57px;
	margin: 2px;
	color: #FFF;
}

a:-webkit-any-link{
	text-decoration:none !important;
}

#submit_button {
	border: 2px;
	color: #FFF;
	border-style: solid;
    padding: 10px;
    margin: 15px;
    background: transparent;
    font-size: 30px;
   	vertical-align: middle;
   	text-align: center;
}

#text_input {
	width: 160px;
	font-size: 20px;
	vertical-align: middle;
}

.top_bar_division {
	float:left;
}
